body {
	width: 800px;
}

table, td {
		border: 1px solid;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table.products {
	text-align: center;
}

td p:nth-child(1) {
	font-size: 0.9rem;;
	margin-top: 0px;
	margin-bottom: 2px;
}

td p:nth-child(2) {
	margin-bottom: 2px;
}
