:root {
  --text_color: #FFFFFF;
  --bg_color: #000000;
  --base_bg_color: #303030;
  --base_accent_color: #AC0011;
  --base_highlight_color: #DC0011;
  --base_transparent_accent_color: rgba(172, 0, 17, 0.8);
  --secondary_bg_color: #606060;
  --cart_base_color: #11AC00;
  --cart_hover_color: #116C00;
}

::selection {
  background: #0011AC;
}

html {
	color: var(--text_color);
	background-color: var(--bg_color);
	font-family: Arial, Georgia;
}

body {
	margin: 0px;
	margin-bottom: 130px;
}

* {
	border-radius: 8px;
}

a, a:visited {
  color: var(--text_color);
	text-decoration: none;
}

a:hover {
  color: var(--base_bg_color);
}

.input_file, input, textarea, button, select, a:not(.image_link):not(.page_title) {
	color: var(--text_color);
	background-color: var(--base_bg_color);
	border: 2px solid var(--base_accent_color);
	padding: 8px 12px;
	text-decoration: none;
  font-family: inherit;
}

input, button, select, a:not(.image_link):not(.page_title) {
	text-align: center;
}

input[type="checkbox"] {
	position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input[type="file"] {
  display: none;
}

.input_file {
  cursor: pointer;
}

div.input_file_box {
  padding: 8px 0px;
}

button {
	cursor: pointer;
}

fieldset {
  border: 0px;
}

.checkbox_container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--base_bg_color);
}

.checkbox_container:hover input ~ .checkbox {
  background-color: #ccc;
}

.checkbox_container input:checked ~ .checkbox {
  background-color: var(--base_accent_color);
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkbox:after {
  display: block;
}

.checkbox_container .checkbox:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:hover, button:hover, select:hover, a:not(.image_link):not(.page_title):hover {
	background-color: var(--bg_color);
}

header, footer {
	background-color: var(--base_accent_color);
	padding: 8px;
	margin: 0px;
	border-radius: 0px;
	overflow: hidden;
}

header a.page_title {
	text-decoration: none;
	color: var(--text_color);
}

header > div.left, footer > div.left {
	float: left;
}

header > div.right, footer > div.right {
	float: right;
}

header > div > * {
	display: inline-block;
	margin: 0px 8px;
  vertical-align: bottom;
}

header div, footer div {
	padding: 0px;
}

header p, footer p {
	margin: 0px;
}

header p.page_name {
  margin-bottom: 4px;
}

header p.user_cpf_cnpj {
	font-size: 12px;
}

div.search_bar {
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	width: 400px;
}

div.search_bar > * {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

div.search_bar > form {
	background-color: var(--base_bg_color);
	border: 2px solid;
	border-color: var(--base_accent_color);
}

div.search_bar input[type="text"] {
	width: 330px;
	border: 0px;
	margin-right: 0px;
}

div.search_bar button {
	border: 0px;
	border-radius: 0px;
	margin-left: 0px;
	background-color: var(--base_accent_color);
}

div.search_bar button:hover {
	border: 0px;
	border-radius: 0px;
	margin-left: 0px;
	background-color: var(--base_highlight_color);
}

footer {
	background-color: var(--base_transparent_accent_color);
	backdrop-filter: blur(4px) brightness(120%);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer > div {
	max-height: 5rem;
}

footer div.finish {
	margin-top: 14px;
}

footer ul.products_cart {
	padding: 0px;
	margin: 0px;
	height: 5rem;
}

footer li.product_block {
	display: inline-block;
	width: 5rem;
}

footer ul.products_cart > li.product_block > a.image_link {
	background-color: none;
	border: 0px;
}

footer ul.products_cart > li.product_block > a.image_link > img {
	width: 4rem;
	height: 4rem;
	background-color: var(--text_color);
	object-fit: contain;
}

footer ul.products_cart > li.product_block button {
	padding: 1px;
	position: relative;
	top : -72px;
}

footer ul.products_cart > li.product_block select {
	padding: 3px;
	position: relative;
	top : -40px;
	left: -2px;
}

footer > div.right {
	position: relative;
	left: -2rem;
}

footer > div.right p {
	text-align: right;
}

div.user_prompt {
	background-color: var(--base_bg_color);
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	max-width: 400px;
}

div.user_prompt > * {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 70%;
}

div.user_prompt > form {
	width: 50%;
}

div.user_prompt > form > * {
	width: 100%;
	margin: 8px;
}

div.main_content {
	display: grid;
	padding: 4px;
  grid-template-areas:
    "filters products";
  grid-template-columns: max(25%) 1fr;
}

div.products_filters {
  grid-area: filters;
}

div.products_filters input[type="number"] {
	width: 80px;
}

div.products_filters, div.products_container, div.product_container {
	margin: 12px;
}

div.products_container {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  grid-area: products;
  justify-self: stretch;
}

ul.product_list {
	list-style-type: none;
	padding: 0px;
}

li.product_card {
	margin: 4px;
	padding: 4px;
	width: 20%;
	min-height: 300px;
	max-height: 550px;
	background-color: var(--base_bg_color);
	display: inline-block;
	overflow: hidden;
}

li.product_card:hover {
	background-color: var(--base_accent_color);
}

li.product_card  img {
	max-width: 100%;
	width: 100%;
	height: 13.5rem;
	margin-bottom: 8px;
	background-color: var(--text_color);
	object-fit: contain;
}

li.add_product img {
	background-color: var(--secondary_bg_color);
}

li.product_card > div.product_details p {
	font-size: 0.8rem;
	margin: 0px 0px 8px 0px;
}

li.product_card > div.product_details {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	max-height: 7.6rem;
}

li.product_card > div.product_details p.product_title {
	font-size: 1.2rem;
}

li.product_card > div.product_details p.product_price {
	font-size: 1rem;
}

li.product_card > div.product_details p.product_description {
	height: 2.5rem;
}

li.product_card > div.buttons,
div.product_container > div.operation_card > div.buttons {
	margin: 18px 0px 8px 0px;
}

li.product_card > div.buttons > form > button.cart,
div.operation_card button.cart {
	border-color: var(--cart_base_color);
}

li.product_card > div.buttons > form > button.cart:hover,
div.operation_card button.cart:hover {
	background-color: var(--cart_hover_color);
}

div.product_container {
	background-color: var(--base_bg_color);
	display: grid;
	padding: 4px;
  grid-template-areas:
    "image details options";
  grid-template-columns: max(35%) 1fr 0.5fr;
}

div.product_container div.image_box {
	margin: 0px 12px 0px 0px;
  grid-area: image;
}

div.product_container img {
  max-width: 100%;
}

div.operation_card {
	min-width: 20%;
	border: 1px solid var(--secondary_bg_color);
	padding: 8px;
  grid-area: options;
  align-self: start;
}

div.product_details {
  grid-area: details;
}

div.product_details > h2 {
	font-size: 3rem;
	margin: 8px 0px 4px 0px;
}

div.product_details p.product_price {
	font-size: 1.4rem;
}
